
.btn{
    font-size: min(6vw, 1.75rem);
    font-family: 'Bebas Neue', cursive;

    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    padding: min(1.5vw, .35rem) min(5vw, 2.5rem);
    border: 4px solid $border-color !important;
    border-radius: 5px;

    &.btn-login,&.btn-saveData{
        background-color: $primary-color;
        color: $font-white-secondary-color;
    }
    &.btn-register{
        background-color: $secondary-color;
        color: $font-secondary-color;
    }
}