.btn {
  &,
  &:link,
  &:visited {
    &:not(:first-child) {
      margin-top: 20px;
    }
    display: block;
    width: min(30vw, 180px);
    margin: 0 auto;
    transition: all 200ms;
    cursor: pointer;
    font-size: min(6vw, 1.75rem);
    font-family: "Bebas Neue", cursive;

    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    padding: min(1.5vw, 0.35rem) min(5vw, 2.5rem);
    border: 4px solid $border-color !important;
    border-radius: 5px;
  }
  &:hover {
    transform: translateY(-2.5px);
    box-shadow: 0 1rem 2rem rgba($primary-black-2, 0.15);
  }

  &:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($primary-black-2, 0.15);
  }
  &--confirm:hover {
    background-color: $primary-color !important;
    color: $font-white-secondary-color !important;
    transform: translateY(-2.5px);
    box-shadow: 0 1rem 2rem rgba($primary-black-2, 0.15);
  }

  &--deny:hover {
    border: 4px solid $red-light-color !important;
    background-color: $red-dark-color !important;
    color: $red-font-color !important;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($primary-black-2, 0.15);
  }
  &--green {
    background-color: $primary-color !important;
    color: $font-white-secondary-color !important;
  }
  &--beige {
    background-color: $secondary-color !important;
    color: $font-secondary-color !important;
  }
  &--container {
    margin-top: 40px;
  }
}
