
$primary-black: #212529;
$primary-black-2:#343a40;
$font-black-color: #323131;
$font-black-secondary-color: #495057;

$primary-color: #247974;
$secondary-color: #DFDBCA;
$secondary-color-light: #DBEDEC;
$primary-color-shade: #B4D6D4;
$primary-card-color: #BBDDC1;

$violet-light-color: #9B59B6  ;
$orange-light-color: #E8916B;
$red-light-color: #E74C3C;
$cyan-light-color: #3498DB;
$teal-light-color: #1ABC9C;
$lime-light-color: #F0B27A;
$yellow-light-color:#F39C12;
$orange-light-color: #F5B041;

$primary-color-light-green: #39A24D;
$primary-color-light-green-shade: #339245;

$font-primary-color: #105652;
$font-secondary-color: #6B9694;
$font-white-color: #F7F8F7;
$font-white-secondary-color: #e1e1e1;


$border-color: #6B9694;
