$primary-black: #212529;
$primary-black-2: #343a40;
$font-black-color: #323131;
$font-black-secondary-color: #495057;

$primary-color: #247974;
$secondary-color: #dfdbca;
$secondary-color-light: #dbedec;
$primary-color-shade: #b4d6d4;
$primary-card-color: #bbddc1;

$violet-light-color: #9b59b6;
$orange-light-color: #e8916b;
$red-light-color: #e74c3c;
$cyan-light-color: #3498db;
$teal-light-color: #1abc9c;
$lime-light-color: #f0b27a;
$yellow-light-color: #f39c12;
$orange-light-color: #f5b041;

$primary-color-light-green: #39a24d;
$primary-color-light-green-shade: #339245;

$font-primary-color: #105652;
$font-secondary-color: #6b9694;
$font-white-color: #f7f8f7;
$font-white-secondary-color: #e1e1e1;

$border-color: #6b9694;
