@import "colors";

@mixin font-scale($min-vw, $min-px) {
    font-size: min($min-px, $min-vw);
  }


.title, .secondary-title, .primary-text{
    font-family: 'Bebas Neue', cursive;
}

.title, .secondary-title{
    color: $font-primary-color;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 3px;
    text-align: center;
    letter-spacing: 5px;
}

.title{
    font-size: min(26vw, 12.5rem); 
}

.secondary-title{
    @include font-scale(22vw, 10rem);
}

.primary-text{
    @include font-scale(6vw, 1.75rem);
}

.secondary-text{
    @include font-scale(4vw, 1.5rem);
    font-family: 'poppins', sans-serif;
}
.tertiary-text{
    @include font-scale(2vw, 1.25rem);
    font-family: 'poppins', sans-serif;
}
