$input-padding: 4px;
$input-height: 40px;
$input-width: min(350px, 80vw);

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
}
input {
  transition: all ease 80ms;

  &[type="text"],
  &[type="password"],
  &[type="number"] {
    background-color: $font-white-color;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: $input-padding;
    width: $input-width;
    height: $input-height;
    border: none;
    border-bottom: 2px solid $primary-black;

    &:focus {
      border-bottom: 4px solid $primary-color;
    }
  }

  &[type="submit"] {
    margin: 0 auto;
  }
}
