.progress-container {
  margin: min(2vw, 1rem);
  width: min(100%, 250px);
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  height: 30px;
  border-radius: 16px;
}

.progress-bar {
  width: 0%;
  background-color: $primary-color-light-green;
  height: 100%;
  border-radius: 16px;
}
#progress-text,
#progress-text-1 {
  color: $font-black-color;
  margin: min(2vw, 1rem);
  font-size: min(3vw, 1rem);
}
