---
import BaseLayout from "../../layouts/BaseLayout.astro";
import LimitsHeader from "../../components/LimitsHeader.astro";
import "../../styles/guides.scss";
---

<BaseLayout>
  <LimitsHeader />
  <main class="fluid-container">
    <ul class="guides">
      <li class="guides--item-header">
        <h1 class="primary-text text-center">quiz guide</h1>
        <hr />
      </li>
      <li class="guides--item">
        <img class="span-2-full" src="/images/img_guides/quiz_1.png" alt="" />
      </li>
      <li class="guides--item">
        <img class="span-2-full" src="/images/img_guides/quiz_2.png" alt="" />
      </li>
      <li class="guides--item">
        <img class="span-2-full" src="/images/img_guides/quiz_3.png" alt="" />
      </li>
      <li class="guides--item">
        <img class="span-2-full" src="/images/img_guides/quiz_4.png" alt="" />
      </li>
      <li class="guides--item">
        <img class="span-2-full" src="/images/img_guides/quiz_5.png" alt="" />
      </li>
      <li class="guides--item">
        <img class="span-2-full" src="/images/img_guides/quiz_6.png" alt="" />
      </li>
      <li class="guides--item">
        <img class="span-2-full" src="/images/img_guides/quiz_7.png" alt="" />
      </li>
      <li class="guides--item">
        <img class="span-2-full" src="/images/img_guides/quiz_8.png" alt="" />
      </li>
    </ul>
  </main>
</BaseLayout>
<script src="../../scripts/switch.js"></script>
