@import "./components/imports";

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: auto;
}
.profile-container{
    margin: 6rem 0 3rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.25rem 1rem;
    padding: 0;
    width: min(90vw, 960px);
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    padding: 1rem;

}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    
    img{
        margin-top: 2rem;
        border-radius: 1rem;
        background-color: black;
        width: min(25vw, 220px);
        height: min(25vw, 200px);
    }
    p{
        font-size: 1.25rem;
        text-transform: uppercase;
    }
}
.dashboard-items{
    grid-area: 1 / 2 / 2 / 4;
    &-title{
        text-transform: uppercase;
        font-size: min(4vw,1.5rem);
        width: 85%;
        padding:1.25rem 3rem;
        margin: 0 auto;
        margin-bottom: -1.5rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        background-color:$primary-color-shade;  
    }
    &-box{
        border-radius: 2rem;
        padding: 1.25rem min(4vw,3rem);
        background-color:$primary-color-shade;  

    }
    &--container{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        font-size: min(3vw,1.25rem);
    }
}
.item-container{
    color: $font-white-color;
    &--white{
        background-color: white;
    }
    &--1{
        padding: .5rem min(3vw,3rem);
        background-color: $primary-color-light-green;
    }
    &--2{
        padding: .5rem min(3vw,3rem);
        background-color: $violet-light-color;
    }
    p{
        margin: 0;
    }
}
.card-container-profile{
    display: flex;
    color: $font-black-color;
    align-items: center;
    flex-wrap: wrap;
    column-gap: min(4vw, 3rem);
    row-gap: min(3vw, 2rem);
    grid-area: 2 / 1 / 3 / 4;
    &--1{
    background-color:$red-light-color;   
    
    }
    &--2{
    background-color:$yellow-light-color;  
    
    }
    &--3{
    background-color:$cyan-light-color;  
      
    }
    &--4{
        background-color:$teal-light-color; 
         
    }
    &--5{
        background-color:$violet-light-color; 
        
    }
    &--6{
        background-color:$primary-color-light-green;   
    }


}
.card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(35vw, 180px);
    height: min(35vw, 150px);
    border-radius: 1.5rem;
    transition: all 150ms;
    padding: 1vw 5vw;
    &--number{
        font-weight: 700;
        font-size: min(16vw,5rem);
        margin-bottom: -15px;
    }
    &:hover{
        transform: translateY(-1px) scale(1.01);
        box-shadow: 0 1rem 2rem rgba($primary-black-2,.15);

    }
}
  
@media screen and (max-width: 692px) {
    .profile-container{
        grid-template-columns: repeat(2, 1fr);
   
    }
    .img{
        grid-area: 1 / 1 / 2 / 3;
        img{
            width: min(60vw, 280px);
            height: min(50vw, 220px);
            }
        }
    .dashboard-items{
        grid-area: 2 / 1 / 3 / 3;
        &-title{
            width: 100%; 
            text-align: center;
        }
    }
    .card-container-profile{
        gap: min(8vw, 3rem);
        grid-area: 3 / 1 / 4 / 3;
        justify-content: center;
    }
}