@import "./components/imports";


body{
    overflow-y: hidden;
    position: relative;
}
main{
    height: 90vh;

}
.prompt-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.3);
    transition: all 300ms !important;
    border: 8px solid $primary-color;
    background-color: #fff;
    border-radius: 10px;
    &--container{
        display: flex;
        flex-direction: column;
        padding: 3rem;
        gap: 30px;
    }
    .btn{
        width: min(240px, 50vw);
    }
    &.active{
        transform: translate(-50%,-50%) scale(1);
    }

}
 .quiz-container{
    transition: all 300ms;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: min(85vw, 600px);
    overflow: hidden;
    &.active{
        transform: translate(-50%,-50%) scale(1);
    }
    &-body{
        padding: min(5vw,2.5rem);
        .btn{
            width: min(280px, 50vw);
        }
    }
    &-header{
        color: $font-primary-color;
    }
    .image-container{
        img{
            display: block;
            width: min(200px, 40vw);
            height: auto;
            margin: 40px auto;
            transform: scale(1.2);

        }
    }
    
  }
  
  .question-container{
    font-family: 'Bebas Neue', cursive;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 30px 0;
    margin-bottom: 30px;
    padding: 0;
    li{
        list-style: none;
    }
  }

  .answer {

    display: none;
    &-label {
        transition: all 200ms;
        font-weight: 700;
        text-align: center;
        display: inline-block;
        width: min(30vw, 220px);
        background-color: #DFDBCA;
        border-radius: 20px;
        padding: 20px 10px;
        cursor: pointer;
      }
      &:checked + &-label{
        background-color: #c9c5b6;
        transform: scale(1.03);
      }
  }
  