@import "./components/imports";

* {
  outline: 0;
}

input {
  transition: all 80ms;
  &[type="text"],
  &[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: min(350px, 80vw);
    height: 40px;
    border: none;
    border-bottom: 1px solid #aaa;
    &:focus {
      border-bottom: 4px solid $primary-color;
    }
  }
  &[type="submit"] {
    margin: 0 auto;
  }
}
