---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/index.scss";
---

<BaseLayout>
  <main class="fluid-container"></main>
  <script src="../scripts/login.js"></script>
</BaseLayout>
