---
import BaseLayout from "../layouts/BaseLayout.astro";
import LimitsHeader from "../components/LimitsHeader.astro";
import "../styles/about-us.scss";
---

<BaseLayout>
  <LimitsHeader />
  <main class="fluid-container">
    <div class="about-us-container">
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">Meet the Designers</h1>
        <hr />
      </li>
      <div class="about-us-container--item">
        <div class="about-us-container--img">
          <img src="/images/img_profile/fritz.jpg" alt="" />
        </div>
        <div class="about-us-container--description tertiary-text">
          <strong>Fritz Keith M. Dejelo</strong> is a STEM student from <em
            >Southern Luzon State University - Laboratory Schools (SLSU-LS)</em
          >. She is one of the proponents of the study "LIMITS". As an academic
          commissioner, she excels in both quantitative and qualitative research
          and offers her services in this area. In addition, she is an editor
          with skills in web design, having completed a beginner web development
          program between 2020 and 2021. With a good knowledge of CSS
          programming language, she takes up freelance jobs in static web
          development. She is also proficient in Calculus, having studied it
          from 2019 to 2022. Paraphrase suggested the research study because of
          her interest in programming and Calculus and her desire to assist STEM
          students with varying math abilities and curricula during their junior
          high school years. She is now contemplating pursuing a study in
          Software Engineering, which aligns with her interests.
        </div>
      </div>
      <li class="lessons--item-header">
        <hr />
      </li>
      <div class="about-us-container--item">
        <div class="about-us-container--img">
          <img src="/images/img_profile/zion.png" alt="" />
        </div>
        <div class="about-us-container--description tertiary-text">
          <strong>Zion Emmanuel S. Zorilla</strong> is a STEM student from <em
            >Southern Luzon State University - Laboratory Schools (SLSU-LS)</em
          >. He is one of the proponents of the study "LIMITS". He has studied
          Research I - IV and underwent a Robotics Class in the previous years.
          He has also joined and won various competitions in the field of
          Research, as well as Science Congresses at both the Division and
          Regional Levels. He wanted to pursue a study with his team that falls
          under his interest and future course, Computer Engineering.
        </div>
      </div>
      <li class="lessons--item-header">
        <hr />
      </li>
      <div class="about-us-container--item">
        <div class="about-us-container--img">
          <img src="/images/img_profile/heiley.jpeg" alt="" />
        </div>
        <div class="about-us-container--description tertiary-text">
          <strong>Hailey Jade O. delos Santos</strong> is a STEM student from <em
            >Southern Luzon State University - Laboratory Schools (SLSU-LS)</em
          >. She is one of the proponents of the study "LIMITS: An Intelligent
          Courseware Tutoring System." She had Robotics as one of her electives
          during her junior high school years; this allowed her to know the
          basics of programming. Through her teacher's guidance, she enhanced
          her programming skills using mBot and other programming applications.
          Other than that, she also had Research I-IV, where she acquired
          experience and more knowledge about this field. With this, she was
          inspired to join v arious Science and Research competitions and win
          some, like the tumPACS 2020. In the near future, she is considering
          pursuing a study with her team that falls under her interest, Computer
          Science.
        </div>
      </div>
      <li class="lessons--item-header">
        <hr />
      </li>
      <div class="about-us-container--item">
        <div class="about-us-container--img">
          <img src="/images/img_profile/ramon.jpg" alt="" />
        </div>
        <div class="about-us-container--description tertiary-text">
          <strong>Ramon Jose M. Oblea</strong> is a STEM student from <em
            >Southern Luzon State University - Laboratory Schools (SLSU-LS)</em
          >. He is one of the proponents of the study "LIMITS: An Intelligent
          Courseware Tutoring System." He has studied Research I - II and
          underwent lessons in programming using a programming application,
          where he learned and experienced the basics of this field way back
          year 2020-2021. He is also profound in Calculus, studying it from
          2020-2022. In the future, he is considering pursuing a study with her
          team that falls under his interest and future course, Web Developing.
        </div>
      </div>
      <li class="lessons--item-header margin-top-sm">
        <h1 class="primary-text">Meet the Developers</h1>
        <hr />
      </li>
      <div class="about-us-container--item">
        <div class="about-us-container--img">
          <img src="/images/img_profile/oide.png" alt="" />
        </div>
        <div class="about-us-container--description tertiary-text">
          <strong>Emanuelle David Bermudo</strong> is a former student from <em
            >Southern Luzon State University - Laboratory Schools (SLSU-LHS and
            SHS)</em
          >. He is one of the developers of the study "LIMITS: An Intelligent
          Courseware Tutoring System." He is currently a 4th year-college
          student studying at <em
            >Far Eastern University Institute of Technology</em
          > (FEU-TECH) and taking BSCSSE
          <em
            >Bachelor of Sciene in Computer Science with specialization of
            Software Engineering
          </em> and currently finishing his Internship Program by working as a Software
          Quality Assurance at Highly Succeed Inc.
        </div>
      </div>
      <li class="lessons--item-header">
        <hr />
      </li>
      <div class="about-us-container--item">
        <div class="about-us-container--img">
          <img src="/images/img_profile/ae.jpg" alt="" />
        </div>

        <div class="about-us-container--description tertiary-text">
          <strong>Marc Ivan Dizon Guillermo</strong> is a former student from <em
            >Eveland Christian College</em
          >. He is one of the developers of the study "LIMITS: An Intelligent
          Courseware Tutoring System." He is currently a 4th year-college
          student studying at <em
            >Far Eastern University Institute of Technology</em
          > (FEU-TECH) and taking BSCSSE
          <em
            >Bachelor of Sciene in Computer Science with specialization of
            Software Engineering
          </em> and currently finishing his Internship Program by working as a Web
          Developer at Highly Succeed Inc.
        </div>
      </div>
    </div>
  </main>
  <script src="../scripts/login.js"></script>
</BaseLayout>
