---
import BaseLayout from "../layouts/BaseLayout.astro";
import LimitsHeader from "../components/LimitsHeader.astro";
import "../styles/about-us.scss";
---

<BaseLayout>
  <LimitsHeader />
  <main class="fluid-container">
    <div class="about-us-container">
      <div class="about-us-container--item">
        <div class="about-us-container--img">
          <img src="/images/img_profile/fritz.jpg" alt="" />
        </div>
        <div class="about-us-container--description tertiary-text">
          <strong>Fritz Keith M. Dejelo</strong> is a STEM student from Southern
          Luzon State University - Laboratory Schools (SLSU-LS). She is one of the
          proponents of the study "LIMITS". <br />She is an academic
          commissioner with a forte in quantitative and qualitative research, as
          she offers service by doing it. She is also an editor that provides
          web designing as she underwent a program as a beginner web developer
          from 2020-2021. She has some knowledge of CSS programming language and
          offers static web development as her freelance job. She is also a
          profound in Calculus as she took Calculus from 2019-2022. She was the
          one who proposed the research study because of her interest and heart
          in programming as well as Calculus subject to help the STEM students
          who have different mathematical abilities and curriculum when they
          were in junior high school. She is considering pursuing a study with
          her team that falls under her interest, Software Engineering.
        </div>
      </div>
      <div class="about-us-container--item">
        <div class="about-us-container--img">
          <img src="/images/img_profile/zion.png" alt="" />
        </div>
        <div class="about-us-container--description tertiary-text">
          <strong>Zion Emmanuel S. Zorilla</strong> is a STEM student from Southern
          Luzon State
          <br />
          University - Laboratory Schools (SLSU-LS). He is one of the proponents
          of the study "LIMITS". He has studied Research I - IV and underwent a Robotics
          Class in the previous years. He has also joined and won various competitions
          in the field of Research, as well as Science Congresses at both the Division
          and Regional Levels. He wanted to pursue a study with his team that falls
          under his interest and future course, Computer Engineering.
        </div>
      </div>
      <div class="about-us-container--item">
        <div class="about-us-container--img">
          <img src="/images/img_profile/heiley.jpeg" alt="" />
        </div>
        <div class="about-us-container--description tertiary-text">
          <strong>Zion Emmanuel S. Zorilla</strong> is a STEM student from Southern
          Luzon State
          <br />
          University - Laboratory Schools (SLSU-LS). He is one of the proponents
          of the study "LIMITS". He has studied Research I - IV and underwent a Robotics
          Class in the previous years. He has also joined and won various competitions
          in the field of Research, as well as Science Congresses at both the Division
          and Regional Levels. He wanted to pursue a study with his team that falls
          under his interest and future course, Computer Engineering.
        </div>
      </div>
      <div class="about-us-container--item">
        <div class="about-us-container--img">
          <img src="/images/img_profile/ramon.jpg" alt="" />
        </div>
        <div class="about-us-container--description tertiary-text">
          <strong>Ramon Jose M. Oblea</strong> is a STEM student from Southern Luzon
          State University - Laboratory Schools (SLSU-LS). He is one of the proponents
          of the study "LIMITS: An Intelligent Courseware Tutoring System." He has
          studied Research I - II and underwent lessons in programming using a programming
          application, where he learned and experienced the basics of this field
          way back year 2020-2021. He is also profound in Calculus, studying it from
          2020-2022. In the future, he is considering pursuing a study with her team
          that falls under his interest and future course, Web Developing.
        </div>
      </div>
    </div>
  </main>
  <script src="../scripts/login.js"></script>
</BaseLayout>
