---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/index.scss';
---
<BaseLayout>
    <nav class="nav-color fluid-container"></nav>
    <main class="fluid-container">
        <header >
            <h1 class="title">
               Limits
            </h1>
        </header>
        <section class="menu">
            <a class="secondary-text btn btn--green" href="/login">Sign In</a>
            <a class="secondary-text btn btn--beige" href="/register">Sign Up</a>
        </section>
    </main>

   
</BaseLayout>