---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import '../styles/index.scss';
---
<BaseLayout>
    <nav class="fluid-container"></nav>
    <main class="fluid-container">
        <Header>
            limits
        </Header>
        <section class="menu">
            <a class="secondary-text btn btn-login" href="/login">Sign In</a>
            <a class="secondary-text btn btn-register" href="/register">Sign Up</a>
        </section>
    </main>

   
</BaseLayout>