---
import BaseLayout from '../layouts/BaseLayout.astro';
import LimitsHeader from '../components/LimitsHeader.astro'
import '../styles/lesson.scss';
---

<BaseLayout>
    <LimitsHeader />
    <main class="fluid-container">
        <ul class="lessons">
            <li class="lessons--item">
                L1: INTRODUCTION TO LIMITS
            </li>
            <li class="lessons--item">
                L2: EVALUATING LIMITS
            </li>
            <li class="lessons--item">
                L3: MORE ON ONE-SIDED LIMITS
            </li>
            <li class="lessons--item">
                L4: INFINITE LIMITS & LIMITS AT INFINITY
            </li>
            <li class="lessons--item">
                L5: MORE ON INFINITE LIMITS & LIMITS AT INFINITY
            </li>
            <li class="lessons--item">
                L6: LIMITS OF TRIGOMETRIC FUNCTION
            </li>
            <li class="lessons--item">
                L7: CONTINUITY
            </li>
            <li class="lessons--item">
                L8: DIFFERENTIATION
            </li>
            <li class="lessons--item">
                L9: DERIVATIVE OF TRIGONOMETRIC FUNCTIONS
            </li>
            <li class="lessons--item">
                L10: CHAIN RULE
            </li>
            <li class="lessons--item">
                L11: DERIVATIVES AND THE SLOPE OF THE TANGENT LINE
            </li>
            <li class="lessons--item">
                L12: APPLICATION OF DERIVATIVES            
            </li>
            <li class="lessons--item">
                LESSON 13: REVIEW ANALYSIS OF FUNCTIONS          
            </li>
        </ul>
    </main>
    <script src="../scripts/login.js"></script>
</BaseLayout>