---
import BaseLayout from "../layouts/BaseLayout.astro";
import LimitsHeader from "../components/LimitsHeader.astro";
import "../styles/lesson.scss";
---

<BaseLayout>
  <LimitsHeader />
  <main class="fluid-container">
    <div id="loading-screen">
      <div class="spinner"></div>
    </div>
    <ul class="lessons">
      <li class="lessons--item">
        <i id="circle-icon1" class="fa-sharp fa-regular fa-circle"></i>
        <div class="lessons--item-1">L1: INTRODUCTION TO LIMITS</div>
        <a class="lessons--item-2" href="/modules/module-1">open</a>
      </li>
      <li class="lessons--item">
        <i id="circle-icon2" class="fa-sharp fa-regular fa-circle"></i>
        <div class="lessons--item-1">L2: EVALUATING LIMITS</div>
        <a class="lessons--item-2" href="/modules/module-2">open</a>
      </li>
      <li class="lessons--item">
        <i id="circle-icon3" class="fa-sharp fa-regular fa-circle"></i>
        <div class="lessons--item-1">L3: MORE ON ONE-SIDED LIMITS</div>
        <a class="lessons--item-2" href="/modules/module-3">open</a>
      </li>
      <li class="lessons--item">
        <i id="circle-icon4" class="fa-sharp fa-regular fa-circle"></i>
        <div class="lessons--item-1">
          L4: INFINITE LIMITS & LIMITS AT INFINITY
        </div>
        <a class="lessons--item-2" href="/modules/module-4">open</a>
      </li>
      <li class="lessons--item">
        <i id="circle-icon5" class="fa-sharp fa-regular fa-circle"></i>
        <div class="lessons--item-1">
          L5: MORE ON INFINITE LIMITS & LIMITS AT INFINITY
        </div>
        <a class="lessons--item-2" href="/modules/module-5">open</a>
      </li>
      <li class="lessons--item">
        <i id="circle-icon6" class="fa-sharp fa-regular fa-circle"></i>
        <div class="lessons--item-1">L6: LIMITS OF TRIGOMETRIC FUNCTION</div>
        <a class="lessons--item-2" href="/modules/module-6">open</a>
      </li>
      <li class="lessons--item">
        <i id="circle-icon7" class="fa-sharp fa-regular fa-circle"></i>
        <div class="lessons--item-1">L7: CONTINUITY</div>
        <a class="lessons--item-2" href="/modules/module-7">open</a>
      </li>
      <li class="lessons--item">
        <i id="circle-icon8" class="fa-sharp fa-regular fa-circle"></i>
        <div class="lessons--item-1">L8: DIFFERENTIATION</div>
        <a class="lessons--item-2" href="/modules/module-8">open</a>
      </li>
      <li class="lessons--item">
        <i id="circle-icon9" class="fa-sharp fa-regular fa-circle"></i>
        <div class="lessons--item-1">
          L9: DERIVATIVE OF TRIGONOMETRIC FUNCTIONS
        </div>
        <a class="lessons--item-2" href="/modules/module-9">open</a>
      </li>
      <li class="lessons--item">
        <i id="circle-icon10" class="fa-sharp fa-regular fa-circle"></i>
        <div class="lessons--item-1">L10: CHAIN RULE</div>
        <a class="lessons--item-2" href="/modules/module-10">open</a>
      </li>
      <li class="lessons--item">
        <i class="fa-sharp fa-regular fa-circle"></i>
        <div class="lessons--item-1">
          L11: DERIVATIVES AND THE SLOPE OF THE TANGENT LINE
        </div>
        <a class="lessons--item-2" href="">open</a>
      </li>
      <li class="lessons--item">
        <i id="circle-icon11" class="fa-sharp fa-regular fa-circle"></i>
        <div class="lessons--item-1">L12: APPLICATION OF DERIVATIVES</div>
        <a class="lessons--item-2" href="/modules/module-12">open</a>
      </li>
      <li class="lessons--item">
        <i id="circle-icon12" class="fa-sharp fa-regular fa-circle"></i>
        <div class="lessons--item-1">L13: REVIEW ANALYSIS OF FUNCTIONS</div>
        <a class="lessons--item-2" href="/modules/module-13">open</a>
      </li>
    </ul>
  </main>
  <script src="../scripts/lesson.js"></script>
</BaseLayout>
