---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/index.scss";
---

<BaseLayout>
  <nav class="nav-color fluid-container"></nav>
  <main class="fluid-container">
    <header>
      <h1 class="secondary-title">Login</h1>
    </header>
    <div id="overlay-login" class="overlay"></div>
    <section id="forgot-password" class="card-container">
      <div id="forgot-password-container">
        <i id="close-btn" class="fa-solid fa-circle-xmark"></i>
        <div>
          <h1 class="primary-text text-center">RESET PASSWORD</h1>
          <div class="input-container">
            <input
              type="text"
              id="email-reset-pass"
              name="email"
              placeholder="E-mail"
            />
            <p id="notify-reset" class="notify tertiary-text"></p>
            <input
              type="submit"
              id="forgot-password-btn"
              class="btn btn--green"
              name="login"
              value="Reset"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="secondary-text menu">
      <input type="text" id="email" name="email" placeholder="E-mail" />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      />
      <p id="notify-login" class="notify tertiary-text"></p>
      <input
        type="submit"
        id="login-btn"
        class="btn btn--green"
        name="login"
        value="Login"
      />
      <p class="alert tertiary-text">
        <a id="forgot-password-open" class="black">forgot password</a>
      </p>
      <p class="alert tertiary-text grey">
        don't have an account yet? Click here to <a
          class="green"
          href="/register">Sign up</a
        >
      </p>
    </section>
  </main>
  <script src="../scripts/login.js"></script>
</BaseLayout>
