---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import '../styles/login.scss';
---

<BaseLayout>
    <main class="fluid-container">
        <Header>
           Login
        </Header>
        <section class="menu">
            <input type="text" id="email" name="email" placeholder="E-mail" />
            <input type="password" id="password" name="password" placeholder="Password" />
            <input type="submit" id='login' class="btn btn-login" name="login" value="Login" />
        </section>
    </main>
    <script src="../scripts/register.js"></script>
</BaseLayout>
