---
import BaseLayout from '../layouts/BaseLayout.astro';
import LimitsHeader from '../components/LimitsHeader.astro'
import '../styles/login.scss';
---

<BaseLayout>
    <LimitsHeader />
    <main class="fluid-container">

    </main>
    <script src="../scripts/login.js"></script>
</BaseLayout>