---
import BaseLayout from '../layouts/BaseLayout.astro';
import LimitsHeader from '../components/LimitsHeader.astro'
import '../styles/quiz.scss';
import '../assets/q1.png';
---

<BaseLayout>
    <LimitsHeader />
    <main class="fluid-container">
        <div class="quiz-container" id="quiz">
            <div class="quiz-header">
              <h2 id="question">Question Text</h2>    
                <div 
                class="image_class">
                <img src="/images/img_quiz/q1.png" id="quiz-image">
                </div>
              <ul class="question-container">
                <li>
                  <input type="radio" name="answer" id="a" class="answer">
                  <label for="a" class="answer-label" id="a_text">Answer</label>
                </li>
        
                <li>
                  <input type="radio" name="answer" id="b" class="answer">
                  <label for="b" class="answer-label" id="b_text">Answer</label>
                </li>
        
                <li>
                  <input type="radio" name="answer" id="c" class="answer">
                  <label for="c" class="answer-label" id="c_text">Answer</label>
                </li>
        
                <li>
                  <input type="radio" name="answer" id="d" class="answer">
                  <label for="d" class="answer-label" id="d_text">Answer</label>
                </li>
        
              </ul>
             </div>
            <button id="submit">Submit</button>
           </div>
    </main>
    <!-- <script src="../scripts/quizLoader.js"></script> -->
</BaseLayout>