---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import '../styles/register.scss';
---

<BaseLayout>
    <nav class="fluid-container"></nav>
    <main class="fluid-container">
        <Header>
           Register
        </Header>
        <section class="menu">
            <input type="text" id="username" name="username" placeholder="Username" />
            <input type="text" id="email" name="email" placeholder="E-mail" />
            <input type="password" id="password" name="password" placeholder="Password" />
            <input type="submit" id='saveData' class="btn btn--beige" name="signUp_submit" value="Sign Up" />
        </section>
    </main>
    <script src="../scripts/register.js"></script>
</BaseLayout>

