---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import '../styles/register.scss';
---

<BaseLayout>
    <main class="fluid-container">
        <Header>
           Register
        </Header>
        <section class="form">

        </section>
    </main>
</BaseLayout>

