---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import '../styles/start.scss';
---

<BaseLayout>
    <nav class="fluid-container"></nav>
    <main class="fluid-container">
        <div class="header-container">
            <h3 class="secondary-text header-title text-center">WELCOME TO</h3>
            <Header>
               LIMITS
            </Header>
            <p class="secondary-text header-text text-center">LEARNING IMMENSE MATHEMATICAL INQUIRY AND THINKING SKILLS</p>
        </div>
        <section class="menu">
            <p class="secondary-text description-title text-center">
                AN INTELLIGENT COURSEWARE TUTORING SYSTEM FOR CALCULUS
            </p>
            <p class="secondary-text description-text text-center">
                Consists of simplified high-yield topics and lessons aligned with the current curriculum of senior high school students. This web application aims to promote a better understanding of mathematical concepts in calculus through an interactive and self-paced learning process. The students will be guided but are expected to explore and be responsible for their independent learning.
            </p>
            <a class="btn btn--green" href="profile">Start</a>
        </section>
    </main>
    <script src="../scripts/start.js"></script>
</BaseLayout>

