---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/start.scss";
---

<BaseLayout>
  <nav class="fluid-container"></nav>
  <main class="fluid-container">
    <div id="overlay-start" class="overlay"></div>
    <section id="vid-container" class="card-container">
      <iframe
        src="https://drive.google.com/file/d/1-Ulvq0Kjazx5SzHDWhMN4vagGSNbyDlk/preview?"
        allow="autoplay"></iframe>
      <a id="skip-btn" class="btn btn--green" href="/profile">Skip</a>
    </section>
    <section id="main-container">
      <div class="header-container">
        <h3 class="header-title text-center">WELCOME TO</h3>
        <header>
          <h1 class="title">limits</h1>
        </header>
        <p class="header-text text-center">
          LEARNING IMMENSE MATHEMATICAL INQUIRY AND THINKING SKILLS
        </p>
      </div>
      <section class="menu">
        <p class="description-title text-center">
          AN INTELLIGENT COURSEWARE TUTORING SYSTEM FOR CALCULUS
        </p>
        <p class="description-text text-center">
          Consists of simplified high-yield topics and lessons aligned with the
          current curriculum of senior high school students. This web
          application aims to promote a better understanding of mathematical
          concepts in calculus through an interactive and self-paced learning
          process. The students will be guided but are expected to explore and
          be responsible for their independent learning.
        </p>
        <a id="accept-btn" class="btn btn--green">about</a>
        <div class="btn--container">
          <a id="start-btn" class="btn btn--green" href="/profile">start</a>
          <a id="logout-btn" class="btn btn--beige" href="/">Logout</a>
        </div>
      </section>
    </section>
  </main>
  <script src="../scripts/start.js"></script>
  <script src="../scripts/login.js"></script>
</BaseLayout>
