---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/index.scss";
---

<BaseLayout>
  <nav class="nav-color fluid-container"></nav>
  <main class="fluid-container">
    <h1>hello</h1>
  </main>
</BaseLayout>
