---
---

<style>
  * {
    box-sizing: border-box;
    margin: 0;
  }
  hr {
    margin: 0 auto;
    width: min(80vw, 1300px);
    border-top: 6px solid #247974;
    opacity: 0.5;
  }
  ul li {
    list-style: none;
    font-size: min(3vw, 1.15rem);
    text-align: center;
  }
</style>

<div class="footer container-fluid">
  <hr />
  <footer class="py-1 pb-3 container">
    <ul class="d-flex justify-content-between">
      <li class="nav-item me-4">
        <a
          href="/"
          class="nav-link p-0 text-muted"
          style="pointer-events: none;">www.limits-calculus.com</a
        >
      </li>
      <li class="nav-item me-4">
        <a
          href="/"
          class="nav-link p-0 text-muted"
          style="pointer-events: none;">Copyright©2023</a
        >
      </li>
    </ul>
  </footer>
</div>
