---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/modules.scss";
---

<BaseLayout>
  <main class="fluid-container">
    <ul class="lessons">
      <li class="lessons--item-header">
        <h1 class="primary-text">LESSON 13: REVIEW ANALYSIS OF FUNCTIONS</h1>
        <hr />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_13/m13_1.png" alt="" />
        <img class="span-2-full" src="/images/img_module_13/m13_2.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_13/m13_3.png" alt="" />
        <img class="span-2-full" src="/images/img_module_13/m13_4.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_13/m13_5.png" alt="" />
        <img class="span-2" src="/images/img_module_13/m13_6.png" alt="" />
        <img class="span-2-full" src="/images/img_module_13/m13_7.png" alt="" />
      </li>
      <li class="lessons--item">
        <img src="/images/img_module_13/m13_8.png" alt="" />
        <img src="/images/img_module_13/m13_9.png" alt="" />
      </li>
      <li class="lessons--item">
        <div class="switch span-2-full clicked">
          <input type="checkbox" id="switch-btn13" />
          <label for="switch-btn13">
            <span class="switch-label secondary-text">Complete Module</span>
          </label>
        </div>

        <div id="confirm-box" class="confirm-box">
          <p class="secondary-text">Check complete module?</p>
          <button id="confirm-yes-btn" class="btn btn--confirm">Yes</button>
          <button id="confirm-no-btn" class="btn btn--deny">No</button>
        </div>
        <div id="overlay"></div>
      </li>
    </ul>
  </main>
</BaseLayout>
<script src="../../scripts/login.js"></script>
