---
import BaseLayout from "../../layouts/BaseLayout.astro";
import LimitsHeader from "../../components/LimitsHeader.astro";
import "../../styles/modules.scss";
---

<BaseLayout>
  <LimitsHeader />
  <main class="fluid-container">
    <ul class="lessons">
      <li class="lessons--item-header">
        <h1 class="primary-text">LESSON 8: DIFFERENTIATION</h1>
        <hr />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_8/m8_15.png" alt="" />
        <img class="span-2-full" src="/images/img_module_8/m8_1.png" alt="" />
      </li>
      <hr />
      <h3>Example 1</h3>
      <li class="lessons--item">
        <img src="/images/img_module_8/m8_2.png" alt="" />
        <img src="/images/img_module_8/m8_3.png" alt="" />
      </li>
      <hr />
      <h3>Example 2</h3>
      <li class="lessons--item">
        <img src="/images/img_module_8/m8_4.png" alt="" />
        <img src="/images/img_module_8/m8_5.png" alt="" />
      </li>
      <hr />
      <h3>Example 3</h3>
      <li class="lessons--item">
        <img src="/images/img_module_8/m8_6.png" alt="" />
        <img src="/images/img_module_8/m8_7.png" alt="" />
      </li>
      <hr />
      <h3>Example 4</h3>
      <li class="lessons--item">
        <img src="/images/img_module_8/m8_8.png" alt="" />
        <img src="/images/img_module_8/m8_9.png" alt="" />
      </li>
      <hr />
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_8/m8_16.png" alt="" />
        <img class="span-2-full" src="/images/img_module_8/m8_10.png" alt="" />
      </li>
      <h3>More Examples</h3>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_8/m8_11.png" alt="" />
      </li>
      <hr />

      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_8/m8_12.png" alt="" />
        <img class="span-2-full" src="/images/img_module_8/m8_13.png" alt="" />
      </li>

      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_8/m8_14.png" alt="" />
      </li>

      <p class="secondary-text text-center">Definition of Derivative:</p>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://www.youtube.com/embed/-aTLjoDT1GQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>

      <p class="secondary-text text-center">Basic Rules of Differentiation:</p>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://www.youtube.com/embed/hLBq3M2hhBM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>

      <p class="secondary-text text-center">Product Rule:</p>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://www.youtube.com/embed/THnosBVfROg"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>

      <p class="secondary-text text-center">Product Rule:</p>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://www.youtube.com/embed/skkyVdc9ZHc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>

      <p class="secondary-text text-center">Quotient Rule:</p>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://www.youtube.com/embed/ZFiw5upUHx8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>

      <p class="secondary-text text-center">Quotient Rule:</p>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://www.youtube.com/embed/8jVDEcQ0wXk"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>
    </ul>
  </main>
</BaseLayout>
<script src="../../scripts/login.js"></script>
