---
import BaseLayout from "../../layouts/BaseLayout.astro";
import LimitsHeader from "../../components/LimitsHeader.astro";
import "../../styles/modules.scss";
---

<BaseLayout>
  <LimitsHeader />
  <main class="fluid-container">
    <ul class="lessons">
      <li class="lessons--item-header">
        <h1 class="primary-text">LESSON 13: REVIEW ANALYSIS OF FUNCTIONS</h1>
        <hr />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_13/m13_1.png" alt="" />
      </li>
      <li class="lessons--item-header">
        <hr/>
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_13/m13_2.png" alt="" />
      </li>
      <li class="lessons--item-header">
        <hr/>
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_13/m13_3.png" alt="" />
      </li>
      <li class="lessons--item-header">
        <hr/>
      </li>
      <li class="lessons--item">

        <img class="span-2-full" src="/images/img_module_13/m13_4.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_13/m13_5.png" alt="" />
        <img class="span-2" src="/images/img_module_13/m13_6.png" alt="" />
        <img class="span-2-full" src="/images/img_module_13/m13_7.png" alt="" />
      </li>
      <li class="lessons--item">
        <img src="/images/img_module_13/m13_8.png" alt="" />
        <img src="/images/img_module_13/m13_9.png" alt="" />
      </li>
      <li class="lessons--item-header">
        <hr/>
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">First Derivative Test</h1>

        <hr />
      </li>

      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://www.youtube.com/embed/G5wlKltW7pM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>
      <li class="lessons--item-header">
        <hr/>
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">Second Derivative Test</h1>
        <hr />
      </li>

      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://www.youtube.com/embed/G8GAsYkZlpE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>
      <li class="lessons--item-header">
        <hr/>
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">Relative Maximum & Minimum</h1>
        <hr />
      </li>

      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://www.youtube.com/embed/V239IIoGVT8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>
      <li class="lessons--item-header">
        <hr/>
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">Concavity & Inflection</h1>
        <hr />
      </li>

      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://www.youtube.com/embed/15awMHeP1Yc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>

      <li class="lessons--item">
        <div class="switch span-2-full clicked">
          <input type="checkbox" id="switch-btn13" />
          <label for="switch-btn13">
            <span class="switch-label secondary-text">Mark as complete</span>
          </label>
        </div>

        <div id="confirm-box13" class="confirm-box">
          <p class="secondary-text">Mark as complete?</p>
          <button id="confirm-yes-btn13" class="btn btn--confirm">Yes</button>
          <button id="confirm-no-btn13" class="btn btn--deny">No</button>
        </div>
        <div id="overlay13" class="overlay"></div>
      </li>
    </ul>
  </main>
</BaseLayout>
<script src="../../scripts/switch.js"></script>
