---
import BaseLayout from "../../layouts/BaseLayout.astro";
import LimitsHeader from "../../components/LimitsHeader.astro";
import "../../styles/modules.scss";
---

<BaseLayout>
  <LimitsHeader />
  <main class="fluid-container">
    <ul class="lessons">
      <li class="lessons--item-header">
        <h1 class="primary-text">
          LESSON 4: INFINITE LIMITS AND LIMITS AT INFINITY
        </h1>
        <hr />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_4/m4_1.png" alt="" />
        <img class="span-2-full" src="/images/img_module_4/m4_2.png" alt="" />
        <img class="span-2-full" src="/images/img_module_4/m4_15.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_4/m4_4.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_4/m4_5.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_4/m4_6.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_4/m4_7.png" alt="" />
      </li>
      <hr />
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_4/m4_8.png" alt="" />
        <img class="span-2-full" src="/images/img_module_4/m4_9.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_4/m4_15.png" alt="" />
        <img class="span-2-full" src="/images/img_module_4/m4_10.png" alt="" />
        <img class="span-2-full" src="/images/img_module_4/m4_11.png" alt="" />
        <img class="span-2-full" src="/images/img_module_4/m4_12.png" alt="" />
        <img class="span-2-full" src="/images/img_module_4/m4_13.png" alt="" />
        <img class="span-2-full" src="/images/img_module_4/m4_14.png" alt="" />
      </li>
      <p>Infinite Limits || Differential Calculus Explained in Filipino</p>
      <div class="video-container">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/_U_w6RXAK9A"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>

      <p>Theorems on Infinite Limits - Basic/Differential Calculus</p>
      <div class="video-container">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/olo8IKenTbY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>

      <p>Infinite Limits and Vertical Asymptotes</p>
      <div class="video-container">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/xvFqomOpLrs"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </ul>
  </main>
</BaseLayout>
<script src="../../scripts/login.js"></script>
