---
import BaseLayout from "../../layouts/BaseLayout.astro";
import LimitsHeader from "../../components/LimitsHeader.astro";
import "../../styles/modules.scss";
---

<BaseLayout>
  <LimitsHeader />
  <main class="fluid-container">
    <ul class="lessons">
      <li class="lessons--item-header">
        <h1 class="primary-text">LESSON 1: INTRODUCTION TO LIMITS</h1>
        <hr />
      </li>
      <li class="lessons--item">
        <img src="/images/img_module_1/m1.png" alt="" />
        <img src="/images/img_module_1/m1_2.png" alt="" />
      </li>
      <li class="lessons--item">
        <img src="/images/img_module_1/m1_3.png" alt="" />
        <img src="/images/img_module_1/m1_4.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2" src="/images/img_module_1/m1_5.png" alt="" />
        <img class="span-2-full" src="/images/img_module_1/m1_6.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_1/m1_7.png" alt="" />
        <img class="span-2-full" src="/images/img_module_1/m1_8.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_1/m1_9.png" alt="" />
      </li>
      <li class="lessons--item">
        <div class="switch span-2-full clicked">
          <input type="checkbox" id="switch-btn1" />
          <label for="switch-btn1">
            <span class="switch-label secondary-text">Complete Module</span>
          </label>
        </div>

        <div id="confirm-box1" class="confirm-box">
          <p class="secondary-text">Check complete module?</p>
          <button id="confirm-yes-btn1" class="btn btn--confirm">Yes</button>
          <button id="confirm-no-btn1" class="btn btn--deny">No</button>
        </div>
        <div id="overlay1"></div>
      </li>
    </ul>
  </main>
</BaseLayout>
<script src="../../scripts/switch.js"></script>
