---
import BaseLayout from '../../layouts/BaseLayout.astro';
import LimitsHeader from '../../components/LimitsHeader.astro'
import '../../styles/modules.scss';
---

<BaseLayout>
    <LimitsHeader />
    <main class="fluid-container">
        <ul class="lessons">
            <h1>module 1</h1>
            <hr>
            <li class="lessons--item">
                <div class="lessons--item-1">
                    <p class="tertiary-text">helhadlkf</p>
                </div>
            </li>
        </ul>
    </main>
    <script src="../../scripts/login.js"></script>
</BaseLayout>