---
import BaseLayout from "../../layouts/BaseLayout.astro";
import LimitsHeader from "../../components/LimitsHeader.astro";
import "../../styles/modules.scss";
---

<BaseLayout>
  <LimitsHeader />
  <main class="fluid-container">
    <ul class="lessons">
      <li class="lessons--item-header">
        <h1 class="primary-text">LESSON 7: CONTINUITY</h1>
        <hr />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_7/m7_1.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_7/m7_3.png" alt="" />
        <img class="span-2-full" src="/images/img_module_7/m7_2.png" alt="" />
      </li>
    </ul>
  </main>
</BaseLayout>
<script src="../../scripts/login.js"></script>
