---
import BaseLayout from "../../layouts/BaseLayout.astro";
import LimitsHeader from "../../components/LimitsHeader.astro";
import "../../styles/modules.scss";
---

<BaseLayout>
  <LimitsHeader />
  <main class="fluid-container">
    <ul class="lessons">
      <li class="lessons--item-header">
        <h1 class="primary-text">LESSON 6: LIMITS OF TRIGOMETRIC FUNCTION</h1>
        <hr />
      </li>
      <li class="lessons--item">
        <img class="span-2" src="/images/img_module_6/m6_1.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_6/m6_12.png" alt="" />
        <img class="span-2-full" src="/images/img_module_6/m6_2.png" alt="" />
      </li>
      <hr />
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_6/m6_3.png" alt="" />
        <img class="span-2-full" src="/images/img_module_6/m6_13.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_6/m6_4.png" alt="" />
        <img class="span-2-full" src="/images/img_module_6/m6_12.png" alt="" />
        <img class="span-2-full" src="/images/img_module_6/m6_5.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_6/m6_6.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_6/m6_7.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_6/m6_8.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_6/m6_9.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_6/m6_10.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2" src="/images/img_module_6/m6_11.png" alt="" />
      </li>
      <p class="secondary-text text-center">
        Limits of Trigonometric Functions
      </p>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://www.youtube.com/embed/HbtuSC_WOW0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>
      <li class="lessons--item">
        <div class="switch span-2-full clicked">
          <input type="checkbox" id="switch-btn6" />
          <label for="switch-btn6">
            <span class="switch-label secondary-text">Mark as complete</span>
          </label>
        </div>

        <div id="confirm-box6" class="confirm-box">
          <p class="secondary-text">Check complete module?</p>
          <button id="confirm-yes-btn6" class="btn btn--confirm">Yes</button>
          <button id="confirm-no-btn6" class="btn btn--deny">No</button>
        </div>
        <div id="overlay6" class="overlay"></div>
      </li>
    </ul>
  </main>
</BaseLayout>
<script src="../../scripts/switch.js"></script>
