---
import BaseLayout from "../../layouts/BaseLayout.astro";
import LimitsHeader from "../../components/LimitsHeader.astro";
import "../../styles/modules.scss";
---

<BaseLayout>
  <LimitsHeader />
  <main class="fluid-container">
    <ul class="lessons">
      <li class="lessons--item-header">
        <h1 class="primary-text">
          LESSON 9: DERIVATIVE OF TRIGONOMETRIC FUNCTIONS
        </h1>
        <hr />
      </li>
      <li class="lessons--item">
        <img src="/images/img_module_9/m9_1.png" alt="" />
        <img src="/images/img_module_9/m9_2.png" alt="" />
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item">
        <img src="/images/img_module_9/m9_3.png" alt="" />
        <img src="/images/img_module_9/m9_4.png" alt="" />
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item">
        <img src="/images/img_module_9/m9_5.png" alt="" />
        <img src="/images/img_module_9/m9_6.png" alt="" />
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item">
        <img src="/images/img_module_9/m9_7.png" alt="" />
        <img src="/images/img_module_9/m9_8.png" alt="" />
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item">
        <img src="/images/img_module_9/m9_9.png" alt="" />
        <img src="/images/img_module_9/m9_10.png" alt="" />
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item">
        <img src="/images/img_module_9/m9_11.png" alt="" />
        <img src="/images/img_module_9/m9_12.png" alt="" />
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_9/m9_13.png" alt="" />
        <img class="span-2-full" src="/images/img_module_9/m9_23.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_9/m9_14.png" alt="" />
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_9/m9_15.png" alt="" />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_9/m9_24.png" alt="" />
      </li>
      <li class="lessons--item">
        <img src="/images/img_module_9/m9_16.png" alt="" />
        <img src="/images/img_module_9/m9_17.png" alt="" />
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_9/m9_18.png" alt="" />
        <img class="span-2-full" src="/images/img_module_9/m9_19.png" alt="" />
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item">
        <img class="span-2" src="/images/img_module_9/m9_20.png" alt="" />
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item">
        <img class="span-2" src="/images/img_module_9/m9_2.png" alt="" />
      </li>

      <li class="lessons--item">
        <img class="span-2-full" src="/images/img_module_9/m9_25.png" alt="" />
        <img class="span-2-full" src="/images/img_module_9/m9_21.png" alt="" />
        <img class="span-2-full" src="/images/img_module_9/m9_22.png" alt="" />
      </li>
      <li class="lessons--item-header">
        <hr/>
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">
          Derivatives of Trigonometric Functions || Differential Calculus in
          Filipino
        </h1>
        <hr />
      </li>

      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://www.youtube.com/embed/LV1WotITDLo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>
      <li class="lessons--item-header">
        <hr/>
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">
          Derivatives of Trigonometric Functions
        </h1>
        <hr />
      </li>

      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://www.youtube.com/embed/PEqCa0U77mc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>
      <li class="lessons--item-header">
        <hr/>
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">
          Derivatives of Trigonometric Functions - Product Rule Quotient & Chain
          Rule
        </h1>
        <hr />
      </li>

      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://www.youtube.com/embed/_niP0JaOgHY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>
      <li class="lessons--item">
        <div class="switch span-2-full clicked">
          <input type="checkbox" id="switch-btn9" />
          <label for="switch-btn9">
            <span class="switch-label secondary-text">Mark as complete</span>
          </label>
        </div>

        <div id="confirm-box9" class="confirm-box">
          <p class="secondary-text">Check complete module?</p>
          <button id="confirm-yes-btn9" class="btn btn--confirm">Yes</button>
          <button id="confirm-no-btn9" class="btn btn--deny">No</button>
        </div>
        <div id="overlay9" class="overlay"></div>
      </li>
    </ul>
  </main>
</BaseLayout>
<script src="../../scripts/switch.js"></script>
