---
import BaseLayout from "../../layouts/BaseLayout.astro";
import LimitsHeader from "../../components/LimitsHeader.astro";
import "../../styles/modules.scss";
---

<BaseLayout>
  <LimitsHeader />
  <main class="fluid-container">
    <div id="loading-screen">
      <div class="spinner"></div>
    </div>
    <ul class="lessons">
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">Introduction to Limits</h1>
        <hr />
      </li>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://drive.google.com/file/d/1-ZHVTiQD_JDywOqCQAJC7Ya1ORa4RjpW/preview"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">Evaluating Limits</h1>
        <hr />
      </li>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://drive.google.com/file/d/1-2S7qeAy6xcP_RmImKEVk5G8N_D90cYK/preview"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">Evaluating Limits Part 2</h1>
        <hr />
      </li>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://drive.google.com/file/d/1-NJMWGxIwV6gS0bJZee2w0lVZvxTGeMH/preview"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">More on One-Sided Limits</h1>
        <hr />
      </li>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://drive.google.com/file/d/1-Pt33hwbIF-rvZnk-Kdum3g3OEKpxiXo/preview"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">
          Infinite Limits and Limits at Infinity
        </h1>
        <hr />
      </li>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://drive.google.com/file/d/1-FpP-EgF925EvYQtmAZzkRLXQ9hTEQjZ/preview"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">
          Limits of Trigonometric Funtions
        </h1>
        <hr />
      </li>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://drive.google.com/file/d/1-Xdtfm5JAesekU0jfy4vcRYlVzzTYRe_/preview"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li><li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">Continuity</h1>
        <hr />
      </li>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://drive.google.com/file/d/1-UXY2Zyhm-O055eaB42EjbJhSHv6UyeR/preview"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li><li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">Continuity Part 2</h1>
        <hr />
      </li>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://drive.google.com/file/d/1-xxXr9fwUthzpYEFmI0FH1-u3owNEFd_/preview"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li><li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">Differentiation</h1>
        <hr />
      </li>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://drive.google.com/file/d/10OefKhj8tFarPMsvTfq73kRYGDps1dFc/preview"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>
      <li class="lessons--item-header">
        <hr />
      </li>
      <li class="lessons--item-header">
        <h1 class="primary-text text-center">Differentiation Part 2</h1>
        <hr />
      </li>
      <li class="video-container lessons--item">
        <iframe
          class="span-2-full"
          src="https://drive.google.com/file/d/10USU4BfuRmxU_c7fFerPdbpjgtmxQu0o/preview"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </li>
    </ul>
  </main>
</BaseLayout>
<script src="../../scripts/switch.js"></script>
